<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Inventory</title>
  <style>
    /* Add your styles here */
    body {
      font-family: Arial, sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    td.total, th.total {
      text-align: right; /* Align total column to the right */
    }

    .finalTotal{
      color: red;
    }
  </style>
</head>
<body>
  <center><img class="logo" src="{{logoBase64}}" alt="Snapstock Logo"></center>
  <h2>Products Inventory  Report - {{fomattedDateNow}}</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Stock</th>
        <th class="total">Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each productList}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.stocks}}</td>
          <td class="total">{{this.price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
